*{
    margin: 0px;
    padding: 0px;
}

body {
min-height: 100vh;
margin: 0px;
border-style:solid;
border-color: #2196F3;

display: grid;
grid-template-columns: 500px 1fr;
grid-template-rows: auto auto 1fr auto;
grid-template-areas: 
"head head"
"nav nav"
"side main"
"side foot";
}

nav{
grid-area: nav;
}

aside {
grid-area: side;
background-color: cornsilk;
border-radius: 25px;
height: 22em;
border-color: #2196F3;
border-style: solid;
font-size: small;
word-spacing: 5px;
font-display: 1e
}

main {
    margin-left: 20px;
    margin-right: 20px;
    grid-area: main;
}

footer {
    grid-area: foot;
}

h3{
    text-align: center;
}

h1 {
text-align: center;
}

.navbar ul{
list-style-type: none;
background-color:cornsilk;
padding: 1em;
margin: 1em;
overflow: hidden;
border-style:solid;
border-color: #2196F3;
border-radius: 25px;
}

.navbar a{
color:  #2196F3;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover{
background-color:rgb(237, 225, 176) ;
}

.navbar li{
float:left
}